<!DOCTYPE html>
@model IEnumerable<StorageManagement.Models.Transaction>
<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Управление складом</title>
</head>
<body id="transactions">
    <div>
        <p><button onClick='location.href="/Home/Buy/"' type="button" class="btn btn-dark">Добавить транзакцию</button></p>
        <div >
            @{Html.RenderPartial("Transactions");}
        </div>
    </div>
</body>
</html>